body {
    padding-top: 5rem;
}

.container {
  max-width: 960px;

}

.me::before {
  content:"Ich: ";
  color: #05a;
}

.bot::before {
  content:"Bot: ";
  color: #aa0;  
}

.chatbox{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  overflow: auto;
  resize: vertical;
  height: 20rem;
}